# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temp Python files
*.pyc
.venv/

# Dependency directories (remove the comment below to include it)
# vendor/

example_data/out/
example_data/cache/
example_data/party0/
example_data/party1/
example_data/party2/

!example_data/party*/cov.txt
!example_data/party*/pheno.txt
!example_data/party*/sample_keep.txt

!example_data/party*/geno/*.pgen
!example_data/party*/geno/*.psam
!example_data/party*/geno/*.pvar
