# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

example_data/out/
example_data/cache/
example_data/party0/
example_data/party1/
example_data/party2/

!example_data/party1/all.gcount.transpose.bin
!example_data/party2/all.gcount.transpose.bin

!example_data/party1/*.txt
!example_data/party2/*.txt

!example_data/party1/geno/*.pgen
!example_data/party1/geno/*.psam
!example_data/party1/geno/*.pvar
!example_data/party2/geno/*.pgen
!example_data/party2/geno/*.psam
!example_data/party2/geno/*.pvar
